[build]
builder = "dockerfile"

[deploy]
startCommand = "python src/web_server.py"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
